<html>
    <head>
        <title> To do list</title>
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
              <script src="/assets/login.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">


        <link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
    </head>

    <body>
            <div class="container">
                  Date    --->logout
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Godzina</th>
                              <th>Rodzaj zabiegu</th>
                              <th>Cena</th>
                              <th>Kontakt</th>
                              <th>Uwagi</th>
                              <th>x-usuń O-modyfikuj </th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Godzina</th>
                              <th>Rodzaj zabiegu</th>
                              <th>Cena/Total</th>
                              <th>Kontakt</th>
                              <th>Uwagi</th>
                              <th>x-usuń O-modyfikuj </th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr>
                              <td>8:00-10:30</td>
                              <td>masaż</td>
                              <td>60</td>
                              <td>Edinburgh</td>
                              <td>Gruby gościu</td>
                              <td>$320,800</td>
                            </tr>
                            <tr>
                              <td>10:45-11:15</td>
                              <td>peeling</td>
                              <td>120</td>
                              <td>Tokyo</td>
                              <td>Pani B.</td>
                              <td>$170,750</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">Admin Panel</div>
                  </div>
        
                </div>
                <!-- /.container-fluid -->

                  </div> <!-- /container -->
    </body>
</html>